.col-product {
    min-width: 300px;
    margin-top: 30px !important;
}

.add-cart {
    max-width: 150px;
}

.btn {
    /*border: 1px solid #ffffff;;*/
    /*color: #ffffff;*/
    max-width: 350px;
}

.price {
    font-size: 20px;
}

.btn-primary {
    /*font-size: 20px;*/
    /*border-radius: 10px;*/
    /*color: #ffffff;*/
    width: 80%;
    /*background-color: #5b8ab5;*/
}

.img-product {
    max-width: 200px !important;;
    max-height: 300px;
    margin-top: 30px;
}

.img-cart {
    width: 140px;
    height: 90px;
    margin-bottom: 10px;
}

.row-flex {
    display: flex;
    flex-flow: row wrap;
}


.navigation {
    background: #b2daff;
}

@media (max-device-width: 768px) {
    .col-product {
        min-width: 80%;
    }
}

.tag-button {
    text-align: center
}

.hr-bottom {
    border-bottom: 2px solid black;
    margin-bottom: 20px;
}

.badge {
    background: white;
    color: black;
}

.bg-dark {
    background-color: #839eb4 !important;
}

.products-cart {
    margin-top: 65px;
}

#products-show {
    margin-top: 100px;
}

.name-product {
    font-size: 20px;
}

.border-up {
    border-bottom: 1px solid black;
    margin-top: 25px;
}

.head-link {
    color: #ffffff;
}

.nav-item.mx-auto.pr-3 a {
    color: #ffffff;
}

.minus, .plus {
    background: #236093;
    display: inline-block;
    height: 25px;
    width: 35px;
    font-size: 20px;
    line-height: 18px;
    text-align: center;
    /* padding: 3px 0 0; */
    cursor: pointer;
    margin-right: 3px;
    font-size: 35px;
    color: white;
    border: 0px solid white;
    border-radius: 8px;

}

.plus:hover {
    background: #2847dc;
}

.minus:hover {
    background: #2847dc;
}

.plus:active {
    border: 1px solid #111a6f;
    border-radius: 8px;
}

.minus:active {
    border: 1px solid #111a6f;
    border-radius: 8px;
}

.minus, .plus, .quantity {
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.minus {
    /*padding:1px 0 0;*/
    /*height:23px;*/
}

.quantity {
    font-size: 25px;
    border: none;
    width: 20px;
    cursor: default;

}

.quantity:focus {
    border: none;
!important;
    outline: none;
}

.custom-control-label {
    margin-left: 25px;
}

.button-registration {
    margin-top: 25px;
}

.nav-link.active {
    text-decoration: underline;
}

.breadcrumb li {
    margin-left: 10px;
}

.help-block {
    color: red;
}